.menu-bar {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.35);
  border-left: none;
  border-right: none;
  border-top: none;

  padding: 0.2rem 2rem;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-bar > h2 {
  color: #fff;
  margin: 0;
}

.menu-bar > button {
  width: max-content;
}

.menu-bar > .button-container {
  display: flex;
  gap: 1rem;
}
